<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
    <style>
        html,body{
    height: 100vh;
    width: 100%;
    background-image: url("img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#containerDiv #loginDiv{
    height: 330px;
}
    </style>
</head>
<body>
   <form method = "post">
    <div id="containerDiv">
        <div id="loginDiv">

              <h1>Login</h1>

              <div id="inputDiv">
                <form method="post" action="/login">

                    <input type="text" required name="username" placeholder="Username">
                    <input type="password" required name="password" placeholder="Password">
                </form>
              </div>

              <div id="rememberForgetDiv">         
                    <div id="remember">
                        <div class="checkbox-container">
                            <input id="checkbox" class="checkbox" type="checkbox" />
                            <label for="checkbox">
                                <i class="bi bi-check-lg"></i>
                            </label>
                          </div>
                         <label for="remember">Remember Me</label>
                    </div>

                    <p>Forget Password?</p>
              </div>

              <input class="submit-btn" type="submit" value="Login"></input>

              <div id="noAccount">
                 <p>Don't have an account! <a href="/login/signup">Sign up</a> </p>
              </div>

        </div>
               <!-- <h3>Incorrect Password</h3> -->
      </div>
</form>
</body>
</html>
